@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;}

.desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.gradient-bg-welcome {
  background-color:#c9c2e5;
  background-image: 
    radial-gradient(at 0% 0%, rgb(214, 209, 241) 0, transparent 50%), 
    radial-gradient(at 50% 0%,#70029298, transparent 50%), 
    radial-gradient(at 100% 0%, rgb(112, 2, 146) 0, transparent 50%);
}